<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <ul>
        <a href="#"><li><i><b>Home</b></i></li></a>
        <a href="./about"><li><b>About</b></li></a>
        <a href="./tickets"><li><b>Tickets</b></li></a>
        <a href="./knowledge-base"><li><b>Knowledge Base</b></li></a>
    </ul>
    <main>
        <h1>Welcome</h1>
        <p>Choose from the menu</p>
    </main>
    <footer><section>Your text here</section></footer>
</body>
</html>