<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <ul>
        <a href="./index"><li><b>Home</b></li></a>
        <a href="./about"><li><b>About</b></li></a>
        <a href="#"><li><b><i>Tickets</i></b></li></a>
        <a href="./knowledge-base"><li><b>Knowledge Base</b></li></a>
    </ul>
    <main>
        <h1>Tickets</h1>
        <a href="./ticket-create" class="ticket-link"><div class="ticket-button">Create Ticket</div></a>
        <a href="./ticket-view" class="ticket-link"><div class="ticket-button">View Tickets</div></a>
    </main>
    <footer><section>Your text here</section></footer>
</body>
</html>