<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <ul>
        <a href="./index"><li><b>Home</b></li></a>
        <a href="./about"><li><b>About</b></li></a>
        <a href="./tickets"><li><b><i>Tickets</i></b></li></a>
        <a href="./knowledge-base"><li><b>Knowledge Base</b></li></a>
    </ul>
    <main>
        <h1>Create Ticket</h1>
        <section>
            <pre><%#= JSON.stringify(res, null, 4) %></pre>

            <form class="label-left" method="post" action="/tickets/ticket-create" enctype="multipart/form-data">
                <fieldset>
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" value="" maxlength="45"><br><br>

                    <label for="desc">Describe your problem</label><br>
                    <textarea id="desc" name="desc" rows="5" maxlength="2000"></textarea><br><br>

                    <label for="file">File</label>
                    <input id="file" type="file" name="file" value="" class="input-larger"><br><br>

                    <label for="category">Category</label>
                    <select name="category" id="category" name="category" class="input-larger">
                        <% for (const row of res) { %>
                            <option value="<%= row.name %>" class="input-larger"><%= row.name %></option>
                        <% }; %>
                    </select><br><br><hr><br>

                    <input type="submit" name="doit" value="Create" class="input-larger">
                </fieldset>
            </form>
        </section>
    </main>
    <footer><section>Your text here</section></footer>
</body>
</html>